table {
    border-collapse: collapse;
	}
#first {
    width: 100%;
}

#two {
    margin-left: 16%;
	}
td {
    width: 5%;
    border: 1px solid black;
	}
th {
    width: 5%;
	}
.poids {
    font-size: 1vw;
    text-align: right;
    vertical-align: top;
	}
.symbole {
    font-size: 2vw;
    text-align: center;
	}
.number {
    font-size: 1vw;
    text-align: left;
    vertical-align: bottom;
	}